body {
  font-family: var(--ds-font-family-default);
  background-color: var(--ds-color-ui-bkg-default-default);
  padding: var(--ds-size-300);
}

.seat-recommendation-container {
  display: flex;
  justify-content: space-between;
}

.forms-container {
  flex: 1;
  max-width: var(--ds-grid-breakpoint-xs);
  margin: var(--ds-size-300);
}

.content-container {
  flex: 2;
  background-color: var(--ds-color-border-subtle-default);
  padding: var(--ds-size-300);
  box-shadow: 0 0 var(--ds-size-75) var(--ds-color-border-disabled-default);
  border-radius: var(--ds-border-radius);
}

/* Media query for screen sizes less than 650px */
@media (max-width: 650px) {
  .seat-recommendation-container {
    flex-direction: column; /* Stack items vertically */
  }

  .forms-container {
    margin-right: 0;
    margin-bottom: var(--ds-size-300); /* Add some space between the forms and content */
  }

  .content-container {
    flex: 1;
  }
}

form {
  margin-bottom: var(--ds-size-300);
}

input[type="text"],
input[type="checkbox"] {
  margin-bottom: var(--ds-size-150);
  padding: var(--ds-size-150);
  box-sizing: border-box;
  border: 1px solid var(--ds-color-border-primary-default);
  border-radius: var(--ds-border-radius);
}

input[type="text"]{
  width: 100%;
}

button:hover {
  background-color: var(--ds-color-ui-hover-default)
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: var(--ds-color-background-lightest);
  border-radius: var(--ds-border-radius);
  border: var(--ds-size-50) solid var(--ds-color-border-disabled-default);
  margin-bottom: var(--ds-size-150);
  padding: var(--ds-size-150);
}

li div {
  margin-bottom: var(--ds-size-75);
}

.form-group {
  margin-bottom: var(--ds-size-150);
}

.form-group label {
  margin-right: var(--ds-size-150);
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="checkbox"] {
  margin-right: var(--ds-size-150);
}
